@keyframes slideUpAnimation {
  0%,
  20% {
    transform: translateY(0);
  }
  30%,
  70% {
    transform: translateY(-24px);
  }
  80%,
  100% {
    transform: translateY(0);
  }
}

.NameTag {
  color: #000;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  height: 26px;
  line-height: 24px;
  overflow: hidden;
  width: fit-content;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.firstName {
  align-items: flex-end;
  animation: slideUpAnimation 8s infinite ease-in-out;
  display: flex;
  flex-direction: column;
}

.lastName {
  align-items: flex-start;
  animation: slideUpAnimation 8s infinite ease-in-out;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;
}
