:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: border-box;
}

:global(html) {
  scroll-behavior: smooth;
}

:global(body) {
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

:global(h1) {
  font-size: 50px;
  line-height: 1.2;
}

:global(h2) {
  font-size: 31px;
  line-height: 1.2;
}

:global(p) {
  font-size: 19px;
}

:global(a) {
  color: #82a85e;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
  transition: border-bottom 0.5s ease;
}

:global(a:active),
:global(a:hover),
:global(a:focus) {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
