@import url("https://fonts.googleapis.com/css?family=Roboto");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-size: 31px;
  line-height: 1.2;
}

p {
  font-size: 19px;
}

a {
  color: #435f35;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
  transition: border-bottom 0.5s ease;
}

a:active,
a:hover,
a:focus {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
