@import "./font.css";

:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: border-box;
}

:global(html) {
  scroll-behavior: smooth;
}

:global(body) {
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

:global(a) {
  color: #82a85e;
  text-decoration: underline solid currentColor;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  transition: text-decoration 0.5s ease;
}

:global(a:active),
:global(a:hover),
:global(a:focus) {
  text-decoration: underline solid transparent;
  text-underline-position: under;
}

:global(h1) {
  font-size: var(--font-size-lg);
  line-height: 1.2;
}

:global(h2) {
  font-size: var(--font-size-md);
  line-height: 1.2;
}

:global(p) {
  font-size: var(--font-size-sm);
}
