.navigation {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px 5vw 40px 5vw;
  top: 0;
  width: 100%;
}

.navItems {
  font-size: 19px;
}

.navItems :nth-child(1) {
  margin-right: 16px;
}
